/* Global styling */

@import url(https://fonts.googleapis.com/css?family=Poiret+One|Lobster|Anton|Shadows+Into+Light|Open+Sans|Roboto|Orbitron|Oswald|Raleway|Montserrat|Roboto+Slab|Indie+Flower|Fjalla+One|Bree+Serif|Pacifico|Abril+Fatface);
html {
  overflow: hidden;
}

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  flex-direction: column;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 50px;
}

/* Header Styling */

.header {
  background-color: rgb(50, 59, 100);
  padding: 10px;
  width: 100%;
  text-align: center;
  color: aquamarine;
  font-family: orbitron;
}

.headertext {
  text-decoration: none;
  color: aquamarine;
  transition: 0.5s ease;
}

.headertext:hover {
  color: brown;
  font-size: 65px;
}

/* Main part syling */

.main {
  background-color: rgb(28, 34, 62);
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  font-family: "Roboto slab";
}

/* Choice box syling */

.choicebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.choice,
.restart {
  font-size: 100px;
  color: cadetblue;
  width: 125px;
  height: 125px;
  background-color: rgb(46, 52, 80);
  border-radius: 10px;
  border: 0;
  transition: 0.07s ease;
}

.restart {
  font-size: 25px;
  width: 40px;
  height: 40px;
}

.choice:hover,
.restart:hover {
  color: aqua;
  background-color: rgb(70, 33, 91);
  transition: 0.02s ease;
}

.choice:active,
.restart:active {
  background-color: rgb(47, 22, 61);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}

/* Score box stlying */

.scorebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.score-info {
  font-size: 30px;
  color: white;
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sign {
  font-size: 80px;
  text-align: center;
  color: aqua;
  width: 80px;
  height: 80px;
  border: 0;
  margin: 0;
}

.score-text {
  font-size: 20px;
  color: white;
}

/*Footer styling */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  color: var(--primary-light);
  font-size: 20px;
  font-family: "Roboto slab";
}

/* overlay */
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  transition: all 0.07s ease;
}

.overlay-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  gap: 20px;
  align-items: center;
  background-color: rgb(28, 34, 62);
  border-radius: 20px;
  border: solid rgb(46, 52, 80) 5px;
}

.overlay-button{
  background: rgb(46, 52, 80);
  border-radius: 10px;
  color:white;
  border: 0;
  padding: 10px;
  transition: .07s ease;
}

.overlay-button:hover{
  background-color: rgb(70, 33, 91);
  color:aqua;
}

.overlay-text{
  margin: 0;
  color:white;
  font-size: 30px;
}